# Logs
*.log

# Node and Bower
node_modules/
bower_components/

# Build related directories
#generated/
#app.manifest
#build.css
#build.min.css
#build.js
#build.min.js

#Annoying Windows, Mac, and Linux Files
Thumbs.db
.DS_Store
.trash

#Until I have time to go through all waht needs to be included and not included
.idea/
