# Logs
*.log

# Node and Bower
node_modules/
bower_components/

#Annoying Windows, Mac, and Linux Files
Thumbs.db
.DS_Store
.trash

#Until I have time to go through all waht needs to be included and not included
.idea/
